@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Thin.ttf') format('truetype');
  font-weight: 100; /* Optional: you can set the weight to thin */
  font-style: normal;
}

.inter-font {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
}